/target
/build
/node_modules
Cargo.lock
package-lock.json
*.ptau
*.zkey
*.wtns
*.r1cs
*.sym
/election
.DS_Store
regen_zkeys.log
bench_full.log
prove_chunked_10k.log
regen_srun_tsum.log
campaign.log
receipt.json
widen_campaign.log
e2e_points.log
cocircom_install.log
setup_mpc.log
run_full_chunk_mpc.sh
full_chunk_mpc.log
setup_mpc8.log
setup_medmpc.log
run_tier3_full.sh
tier3_full_run.log
setup_smallmpc.log
setup_smallnaive.log
setup_tiny.log
setup_mednaive.log
run_tier3_full_bench.sh
tier3_full_bench.log
compile_large.log
